* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
  border-bottom: 1px solid;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.25rem;
}

h5 {
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 0.25rem;
}

main {
  min-height: 100vh;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: grid;
  grid-template-columns: 4fr 2fr;
}

section {
  height: 100%;
  padding: 2rem 3rem;
}

section h1 {
  color: #323e4f;
}

section h1 span {
  font-weight: bold;
}

section h2 {
  color: #323e4f;
}

section div {
  margin-bottom: 2rem;
}

section h3 {
  border-bottom-color: #323e4f;
  color: #323e4f;
}

section p {
  font-size: 1rem;
  font-weight: normal;
  color: #3b3b3b;
}

section h4 {
  color: #3b3838;
}

section h5 {
  color: #000000;
}

section ul {
  padding-left: 1.1rem;
}

section ul li {
  font-size: 1rem;
  font-weight: normal;
  color: #595959;
}

section a {
  color: #333f50;
  font-weight: 600;
}
section a:hover {
  color: #323e4f;
}
section a:active {
  color: #323e4f;
}
section a:visited {
  color: #323e4f;
}

.degree {
  font-size: 1rem;
  font-weight: normal;
  color: #000000;
  margin-bottom: 0.25rem;
}

.university {
  font-size: 1rem;
  font-weight: normal;
  color: #4d4d4d;
  margin-bottom: 0.25rem;
  font-style: italic;
}

aside {
  height: 100%;
  background: #333f50;
  color: #fff;
  padding: 2rem;
}

aside .info {
  margin-bottom: 0.5rem;
  display: flex;
  gap: 0.5rem;
}

aside a {
  color: #fff;
}

aside a:hover {
  color: #fff;
}

aside a:active {
  color: #fff;
}

aside a:visited {
  color: #fff;
}

aside h3 {
  border-bottom-color: #fff;
  margin-top: 2rem;
}

aside ul {
  padding-left: 2.5rem;
}

/* thin scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 0.25rem;
  transition: 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}

::-webkit-scrollbar-thumb:active {
  background: #666;
}

::-webkit-scrollbar-thumb:focus {
  background: #666;
}
